@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    text-align: center;
}

div#map-container { line-height: 100vh; }

svg.map {
    max-width: 90vw;
    max-height: 90vh;
}

svg.map .area { transition: all 0.3s; }

svg.map .area.has-question.not-attempted:hover { fill-opacity: 0.7; }

svg.map .area.has-question { }

svg.map .area.no-question { fill: lightgrey; }

svg.map .area.success { fill: blue; }

svg.map .area.failed { fill: red; }

svg.map .area.not-attempted { }

svg.map .area.has-question.not-attempted { cursor: pointer; }


/* question page */

h4 { margin-top: 8em; }

h3 { margin-top: 2em; }

h1 { margin-top: 1em; }

button { margin-top: 15em; }

i { display: none; }