@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    text-align: center;
}

div#map-container { line-height: 100vh; }

svg.map {
    max-width: 90vw;
    max-height: 90vh;
}

svg.map .area { transition: all 0.3s; }

svg.map .area.has-question.not-attempted:hover { fill-opacity: 0.7; }

svg.map .area.has-question { }

svg.map .area.no-question { fill: lightgrey; }

svg.map .area.success { fill: blue; }

svg.map .area.failed { fill: red; }

svg.map .area.not-attempted { }

svg.map .area.has-question.not-attempted { cursor: pointer; }


/* question page */

h1 { margin-top: 8em; }

h2 { margin-top: 2em; }

h1#answer
{
    margin-top: 3em;
    margin-bottom: -1.3em;
}

.answer-button
{
    margin-top: 3em;
    width: 22em;
    height: 10ex;
}

button
{
    margin-top: 5em;
    width: 10em;
}

i { display: none; }

/* legenda */

div.legend-container {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 2em;
    cursor: default;
}

div.legend-container div.legend-row
{

}

div.legend-container div.legend-row div.legend-circle {
    display: inline-block;
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    border-radius: .5em;
}

div.legend-container div.legend-row div.legend-description
{
    display: inline-block;
}

div.legend-container div.legend-row.answered div.legend-description {
    text-decoration: line-through;
}